#discover-grid {
display: grid;
gap: 1rem;

grid-template-areas:
"card1"
"card2"
"card3"
"card4"
"card5"
"card6"
"card7"
"card8";
}

.card1 {grid-area: card1;}
.card2 {grid-area: card2;}
.card3 {grid-area: card3;}
.card4 {grid-area: card4;}
.card5 {grid-area: card5;}
.card6 {grid-area: card6;}
.card7 {grid-area: card7;}
.card8 {grid-area: card8;}

article {
padding: 1rem;
border: 1px solid #ccc;
border-radius: 10px;
}

img {
width: 100%;
height: auto;
}
